@mixin btn($ff, $fs, $fw, $text-color) {
  font-family: $ff;
  font-size: $fs;
  font-weight: $fw;
  text-transform: uppercase;
  color: $text-color;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  display: inline-block;
  cursor: pointer;
  &:hover {
    background-color: $text-color;
    border: 1px solid $text-color;
  }
}



@each $key, $value in $bg-colors {
  .btn-#{$key} {
    @include btn($ff, $fs-sm, $fw-xl, $text-color);
    background-color: #{$value};
  }
}

